<h1>Readings Index</h1>

<% @readings.each do |reading| %>
<h2><%= reading.story_id %></h2>
<br>
<h2><%= reading.chapter_id %></h2>
<br>
<h2><%= reading.scenario_id %></h2>
<br>
<h2><%= reading.complete %></h2>
<br>
<% link_to "Select Reading", reading %>

<% end %>

