<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
      <link rel="_appearance.scss" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.css"/>
      <script src ="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
  <body>
    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
              <br><br>
              <style> 
                @font-face {
                              font-family: myFirstFont;
                              src: url(sansation_light.woff);
                            }
                @font-face {
                              font-family: myFirstFont;
                              src: url(sansation_bold.woff);
                              font-weight: bold;
                            }
                        div {
                              font-family: myFirstFont;
                            }
              </style>
                <h1 class="header center teal-text text-lighten-2"><font family="cursive" color="#b71c1c red darken-4"><strong><i><b>Dark Shelters</b></i></strong></font></h1>
                <div class="row center">
                  <h5 class="header col s12 light">Welcome to the Interactive World of Storytelling that Brings Zombies to Life</h5>
                </div>
                <div class="row center">
                  <a href="http://localhost:3000/stories" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Enter if You Dare!</a>
                </div>
        </div>
      </div>


      <div class="parallax"><img src="http://i.ytimg.com/vi/PMpBvbA-XmU/maxresdefault.jpg" alt="http://i.ytimg.com/vi/PMpBvbA-XmU/maxresdefault.jpg">
      </div>
    </div>
    <div class="container">
      <div class="section">

      <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
              <h5 class="center">Speeds up development</h5>

              <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">group</i></h2>
              <h5 class="center">User Experience Focused</h5>

              <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">Easy to work with</h5>

              <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light">They're Waiting for You...</h5>
          </div>
        </div>
      </div>
      <div class="parallax" color="#212121 grey darken-4"><img src="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/11222252_133375043685963_981029273258268523_n.jpg?oh=df86e1492cbd940dbec6d29ca1f3c7a3&oe=56BB6ACF" alt="http://i.ytimg.com/vi/PMpBvbA-XmU/maxresdefault.jpg"></div>
      </div>
      <div class="container">
        <div class="col 14">
        
          <div class="row">
      
            <div class="z-depth-5 card-panel hoverable">
              <p class="z-depth-5 hoverable"><img src="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/12189701_133374993685968_3088953430224873361_n.jpg?oh=4d7b66a7ddbf34c174648438c6aca09e&oe=56D1440B" img width="800" height="400" style="align:middle"/></p>
            </div>
          </div>
        </div>
      </div>
      <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">
              <h5 class="header col s12 light">Many have perished down here in the <i>Dark Shelters...</i></h5>
            </div>
          </div>
        </div>
          <div class="parallax"><img src="http://i.ytimg.com/vi/PMpBvbA-XmU/maxresdefault.jpg" alt="http://i.ytimg.com/vi/PMpBvbA-XmU/maxresdefault.jpg"></div>
          </div>
      </div>
    
  </div>
  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light">Do You Have What it Takes to <i>Survive</i>?</h5>
        </div>
      </div>
    </div>
      <div class="parallax"><img src="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/11222252_133375043685963_981029273258268523_n.jpg?oh=df86e1492cbd940dbec6d29ca1f3c7a3&oe=56BB6ACF" alt="http://i.ytimg.com/vi/PMpBvbA-XmU/maxresdefault.jpg" alt="Unsplashed background img 3"></div>
    </div>
  </div> 
  <div class="container">
    <div class="section">
      <div class="col 14">
          <div class="row">
            <div class="z-depth-5 card-panel hoverable">
              <p class="z-depth-5 hoverable"><img src="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/12192002_133375177019283_1869361571432055404_n.jpg?oh=32c18141f95f0616d040a31ecb9f6ba9&oe=56BAEFED" img width="800" height="400" style="align:middle"/></p>
            </div>
          </div>
        </div>
    </div>
  </div>
  <footer class="page-footer #000000 black">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text"><%= link_to "Sign-up", new_user_registration_path %></a></li>
            <li><a class="white-text"><%= link_to "Sign In", new_user_session_path %></a></li>
            <li><a class="white-text"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
      </div>
      <div class="footer-copyright">
        Copyright &copy; 2015 Dark Shelters | All rights reserved 
      </div>
    </div>
  </footer>
<!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../dist/js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>
</html>
