<h1><i><strong>Dark Shelters</i></strong></h1><br>
<p><h4><i>Welcome to The Interactive World of Storytelling that Brings Zombies to Life!</i></h4></p><br>
<p><h4><i>Enter if You Dare!</i></h4></p>
<br>
<br>
<p><%= link_to "Sign-up", new_user_registration_path %></p>
<p><%= link_to "Sign In", new_user_session_path %></p>
<p><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>