<!DOCTYPE html>
<html lang="en">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
      <link rel="_appearance.scss" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.css"/>
      <script src ="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
  <body>
    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
              <br><br>
              <style> 
                @font-face {
                              font-family: myFirstFont;
                              src: url(sansation_light.woff);
                            }
                @font-face {
                              font-family: myFirstFont;
                              src: url(sansation_bold.woff);
                              font-weight: bold;
                            }
                        div {
                              font-family: myFirstFont;
                            }
              </style>
                <h1 class="header center teal-text text-lighten-2"><font family="cursive" color="#b71c1c red darken-4"><strong><i><b>Dark Shelters</b></i></strong></font></h1>
                <div class="row center">
                  <h5 class="header col s12 light">Welcome to the Interactive World of Storytelling that Brings Zombies to Life</h5>
                </div>
                <div class="row center">
                  <a href="http://localhost:3000/stories" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Enter if You Dare!</a>
                </div>
        </div>
      </div>


      <div class="parallax"><img src="http://i.ytimg.com/vi/PMpBvbA-XmU/maxresdefault.jpg" alt="http://i.ytimg.com/vi/PMpBvbA-XmU/maxresdefault.jpg">
      </div>
    </div>
    <div class="container">
      <div class="section">

      <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
              <h5 class="center">About Dark Shelters</h5>

              <p class="light">Dark Shelters is an interactive storytelling forum; it's a place where creative minds of the occult can come together and share their work, and users can play through their interactive stories.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">group</i></h2>
              <h5 class="center">User Experience Focused</h5>

              <p class="light">Successful User Experienced is garuanteed by Dark Shelters. In this interactive storytelling forum, users have the right to post their creative work, and sync up it with key features offered exclusively in the Dark Shelters app, where their written material is turned into an interactive game!</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">How the app works</h5>

              <p class="light"><ol>
                <li>Register as a user through the Dark Shelters App</li>
                <li>Or, sign-up through Facebook or Google Accounts</li>
                <li>Opt to play through the interactive stories featured by user or submit you're own written material</li>
                <li>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light">They're Waiting for You...</h5>
          </div>
        </div>
      </div>
      <div class="parallax" color="#212121 grey darken-4"><img src="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/11222252_133375043685963_981029273258268523_n.jpg?oh=df86e1492cbd940dbec6d29ca1f3c7a3&oe=56BB6ACF" alt="http://i.ytimg.com/vi/PMpBvbA-XmU/maxresdefault.jpg"></div>
      </div>
      <div class="container">
        <div class="col 14">
        
          <div class="row">
      
            <div class="z-depth-5 card-panel hoverable">
              <p class="z-depth-5 hoverable"><img src="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/12189701_133374993685968_3088953430224873361_n.jpg?oh=4d7b66a7ddbf34c174648438c6aca09e&oe=56D1440B" img width="800" height="400" style="align:middle"/></p>
            </div>
          </div>
        </div>
      </div>
      <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">
              <h5 class="header col s12 light">Many have perished down here in the <i>Dark Shelters...</i></h5>
            </div>
          </div>
        </div>
          <div class="parallax"><img src="http://i.ytimg.com/vi/PMpBvbA-XmU/maxresdefault.jpg" alt="http://i.ytimg.com/vi/PMpBvbA-XmU/maxresdefault.jpg"></div>
          </div>
      </div>
    
    </div>
      <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
          <div class="container">
            <div class="row center">
              <h5 class="header col s12 light">Do You Have What it Takes to <i>Survive</i>?</h5>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xtp1/v/t1.0-9/11222252_133375043685963_981029273258268523_n.jpg?oh=df86e1492cbd940dbec6d29ca1f3c7a3&oe=56BB6ACF" alt="http://i.ytimg.com/vi/PMpBvbA-XmU/maxresdefault.jpg" alt="Unsplashed background img 3"></div>
      </div>
    </div> 
    <div class="container">
      <div class="section">
        <div class="col 14">
          <div class="row">
            <div class="z-depth-5 card-panel hoverable">
              <p class="z-depth-5 hoverable"><img src="https://scontent-iad3-1.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/12192002_133375177019283_1869361571432055404_n.jpg?oh=32c18141f95f0616d040a31ecb9f6ba9&oe=56BAEFED" img width="800" height="400" style="align:middle"/></p>
            </div>
          </div>
        </div>
      </div>
    </div>
 
<!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../../dist/js/materialize.js"></script>
    <script src="js/init.js"></script>
  </body>
</html>
