<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.css"/>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <body>
    <div class="container">  
        <h3><i>Scenarios</i></h3>
        <p id="notice"><%= notice %></p>
        <p>
          <strong>Content:</strong>
          <h6><%= @scenario.content %></h6>
        </p>
        <br>
      <%= link_to 'Edit Scenario', edit_scenario_path(@scenario) %><br>
      <%= link_to 'Back', scenarios_path %><br>
    </div>
  </body>
</html>